@font-face {
  font-family: "JUA";
  src: url("fonts/Jua-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GMSR";
  src: url("fonts/MaterialSymbolsRounded.ttf") format('truetype');
}

#icon {
	fill: 1;
	font-family: "GMSR";
	font-weight: 700;
	font-size: 1.4em;
	vertical-align: middle;
}
