#header { 
	-moz-transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	background: #1a1a1a;
	height: 2.8em;
	left: 0;
	line-height: 2.8em;
	position: relative;
	top: 0;
	width: 100%; 
	z-index: 30;
	border-bottom: 2px solid #65b726;
	letter-spacing: 0.15em;
}
body.white-theme #header { 
	background: #f7f7f7; 
}

#header h1 { 
	-moz-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	height: inherit;
	left: 1.25em; 
	line-height: inherit;
	position: absolute;
	top: 0;
}

#header h1 a {
	color: inherit; 
	border: 0;
	display: block;
	height: inherit;
	line-height: inherit;
}
