#header nav {
	height: inherit;
	line-height: inherit;
	position: absolute;
	right: 0;
	top: 0;
}

#header nav>ul {
	line-height: 2.5em;
	margin: 0;
	padding: 0;
	white-space: nowrap;
} 
 
#header nav>ul>li {
	display: inline-block;
	padding: 0;
}

#header nav>ul>li>a {
	border: 0;
	font-size: 0.9em; 
	padding: 0 1.5em;
	text-transform: uppercase;
}

#menu {
	padding-top: 1px;
	right: -11em; 
	width: 11em;
	position: fixed;
	height: 100%;
	transform: translateZ(0);
	will-change: transform;
	backface-visibility: hidden;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

#menu.toggle {
	right: 0em;
}

#menu .tab {
	padding-left: 2.2em;
	height: 100%;
}

#menu ul { 
	background-color: gray;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em; 
	border-bottom-left-radius: 15px;
}
#menu ul>li>a>span { 
	font-size: 0.8em; 
	font-weight: 300;
}

#content {
	position: absolute;
	width: 100%;
	height: 100%;
}

#blur {
	z-index: 29;
	position: fixed;
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	will-change: transform;
	backface-visibility: hidden;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
#blur.toggle {
	background-color: rgba(0,0,0,0.5);
}