* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 105%;
	font-family: "JUA";
	text-decoration: none;
	color: #f7f7f7;
	list-style: none;
}

body {
	background: #212121;
}

#wrapper {
	width: 100%;
	height: 100%;
}
