#content .user-list-box {
	position: fixed;
}

#content .user-list-box th {
	height: 30px;
	text-align: center;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px; 
	border-bottom: solid;
    border-bottom-color: aqua;
}

#content .user-list-box tr {
	line-height: 0px;
}

#content .user-list-box table {
	border: 0px;  
}

#content .user-list-box td {
	height: 30px;
	border: 0px;  
	text-align: center;
}